@import '../variables';

.section {
  max-height: 90%;
}

.aboutPad {
  padding-top: 20px;
  margin-bottom: 20px;
}

.section1 {
  // background-color: pink;
  /* background-color: #ffc107; */
  background: radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
  background-size:40px 60px;

  min-height: 100%;

  background-attachment: fixed;
}

.section2 {
  /* background-color: #ff5722; */
  background:
  linear-gradient(135deg, #ffc107 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #ffc107 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#ffc107;
  background-size: 64px 128px;

  min-height: 100%;

  background-attachment: fixed;
}

.sectionbrown {
  /* background-color: #2196F3; */
  background-color: #ffc107;
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
  repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
  );

  min-height: 100%;

  background-attachment: fixed;
}

.about-wrapper2 {
  height: 90%;
}

//Hero

#hero {
  // background-color: white;
  img {
    position:fixed;
    background-attachment: fixed;
    width: 20%;
    z-index: -1;
    bottom: 0;
    left: 0;
  }
}

.fa-angle-down {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  font-size: 52px;
  color: $accent-color;
}

//About

#about {
  width: 80vw;
  max-height: 90%;
  margin: 0 auto;
}

.about-text {
  width: 50%;
  padding: 10px 80px 20px 20px;
  float: left;
}

.about-skills {
  position: relative;
  border: solid $primary-color 2px;
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
  width: 50%;
  padding: o 10px;
  text-align: center;
  float: left;
  ul {
    text-align: center;
    padding-left: 0px;
    li {
      width: 12%;
      display: inline-block;
      margin: 5px 30px 5px 0;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 0;
    height: 0;
    border-top: 15px solid white;
    border-right: 15px solid white;
    border-bottom: 15px solid $primary-color;
    border-left: 15px solid $primary-color;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
  }
}

@media #{$mobile} {
    .about-text {
      width: 100%;
      padding: 3vw 2vw;
      float: none;
      h3 {
        text-align: center;
      }
    }
    .about-skills {
      width: 100%;
      float: none;
      ul li {
        width: 20%;
      }
    }
}

//Work

.fp-slide {
  position:relative;
}

#projects {
  img {
    margin-left: 4vw;
    width: 70vw;
    float: left;
    opacity: 0.9;
    border: solid $accent-color 3px;
  }
}

@media #{$mobile} {
  #projects img{
    width: 92vw;
  }
}


.project-info {
  background-color: rgba($accent-color, 1);
  box-shadow: 50px 50px 0px -35px #5b7b7a;
  padding: 0 30px;
  z-index: 10;
  width: 30vw;
  left: 61vw;
  height: 300px;
  bottom: 30vh;
  position: absolute;
  h5 {
    text-align: center;
  }
  a {
    float: right;
    margin-left: 15px;
    font-size: 20px;
  }
}

//contact

#contact {
  form {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    input, textarea {
      border: solid $primary-color 1px;
      padding:10px 10px;
      width: 100%;
      font-family: $p-font;
      font-color: $p-color;
      font-size: 14px;
      &:focus {
        outline: none;
      }
    }
    input[type=submit] {
    background: transparent;
    cursor:pointer;
    font-family: $accent-font;
    font-size: 18px;
    font-weight: 200;
    color: $primary-color;
    margin-top: 10px;
    &:hover {
      background: rgba($primary-color, 1);
      color: white;
    }
    }
    textarea {
      height: 100px;
      resize: none;
    }
    @media #{$mobile} {
      width: 60vw;
    }
  }
  h2 {
    font-weight: 200;
    font-size: 52px;
  }
  p {
    text-align: center;
    display: inline;
  }
}
